@keyframes glissement{
    from {
        width: 0%;
        opacity: 0;
      }
      to {
        width: 30%;
        opacity: 1;
      }
    }

@keyframes rotation{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

