header {
  width: 100%;
}

header img {
  height: auto;
  width: auto;
  display: block;
  margin: 20px auto 20px auto;
  background-repeat: no-repeat;
}

footer {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: column;
      flex-wrap: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #363636;
  color: white;
}

footer h3 {
  font-family: shrikhand;
  width: 100%;
}

footer a {
  width: 100%;
  margin-top: 10px;
  color: white;
  text-decoration: none;
}

footer a i {
  margin-right: 10px;
}

@media (max-width: 640px) {
  html {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: auto;
    border-radius: 40px 40px 0 0;
  }
  #menu .img-header {
    display: static;
  }
  #menu .img-header img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  #menu h3 {
    font-family: shrikhand;
    font-size: xx-large;
    font-weight: 900;
  }
  #menu .carte-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #f0eeee;
    border-radius: 60px 60px 0 0;
    margin-top: -80px;
    padding: 0px 0 0 0px;
  }
  #menu .carte-menu h3 {
    padding-left: 10px;
  }
  #menu .carte-menu h4 {
    text-transform: uppercase;
    font-size: large;
  }
  #menu .carte-menu .cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    cursor: pointer;
  }
  #menu .carte-menu .cart .text {
    background-color: white;
    width: 80%;
    padding-left: 10px;
    border-radius: 20px;
  }
  #menu .carte-menu .cart .text h5 {
    font-size: large;
  }
  #menu .carte-menu .cart .text span {
    float: right;
    padding-right: 20px;
    font-weight: bolder;
  }
  #menu .carte-menu .cart .btn-check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #99E2D0;
    border-radius: 0 20px 20px 0;
    width: 20%;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 40px;
  }
  #menu .carte-menu .cart .btn-check .far {
    font-size: 20px;
  }
  #menu .carte-menu button {
    margin: 50px auto 80px auto;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background: linear-gradient(#9356DC, #FF79DA);
    width: 300px;
    height: 60px;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 20px;
    outline: #a8a8a838;
  }
  #menu .carte-menu button:hover {
    opacity: 0.5;
  }
}
/*# sourceMappingURL=menu.css.map */