@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
header {
  width: 100%;
}

header .logo {
  width: 100%;
}

header .logo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: 60%;
  margin: 20px auto 20px auto;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  header .logo img {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  header .logo img {
    width: 40%;
  }
}

@media screen and (min-width: 1440px) {
  header .logo img {
    width: 30%;
  }
}

footer {
  text-align: left;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: column;
      flex-wrap: column;
  background-color: #363636;
  color: white;
}

footer .info-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0 20px 20px;
}

footer .info-footer div {
  padding: 20px 0 20px 0;
}

footer .info-footer h3 {
  font-family: "Shrikhand", cursive;
  width: 100%;
  font-weight: bolder;
}

footer a {
  width: 100%;
  margin-top: 10px;
  color: white;
  text-decoration: none;
}

footer a i {
  margin-right: 10px;
}

@-webkit-keyframes glissement {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 30%;
    opacity: 1;
  }
}

@keyframes glissement {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 30%;
    opacity: 1;
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes slide {
  from {
    -webkit-transform: translatey(500px);
            transform: translatey(500px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide {
  from {
    -webkit-transform: translatey(500px);
            transform: translatey(500px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes chargement {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes chargement {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

html {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: auto;
  border-radius: 40px 40px 0 0;
}

#menu .img-header {
  display: static;
}

#menu .img-header img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

#menu h3 {
  width: auto;
  font-family: "Shrikhand", cursive;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 22px;
  font-style: italic;
}

#menu h3 i.far.fa-heart {
  padding-left: 50px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #menu h3 i.far.fa-heart {
    padding-left: 450px;
  }
}

@media screen and (min-width: 1024px) {
  #menu h3 i.far.fa-heart {
    padding-left: 700px;
  }
}

@media screen and (min-width: 1440px) {
  #menu h3 i.far.fa-heart {
    padding-left: 1100px;
  }
}

#menu .carte-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f0eeee;
  border-radius: 60px 60px 0 0;
  margin-top: -80px;
  padding: 0px 0 0 0px;
  width: 100%;
}

#menu .carte-menu .entree,
#menu .carte-menu .plats,
#menu .carte-menu .desserts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#menu .carte-menu h3 {
  padding-left: 10px;
}

#menu .carte-menu .etiquette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  height: auto;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-animation: slide 2.5s;
          animation: slide 2.5s;
}

#menu .carte-menu .etiquette.un {
  -webkit-animation: slide 1s;
          animation: slide 1s;
}

#menu .carte-menu .etiquette.deux {
  -webkit-animation: slide 2s;
          animation: slide 2s;
}

#menu .carte-menu .etiquette.trois {
  -webkit-animation: slide 3s;
          animation: slide 3s;
}

#menu .carte-menu .etiquette h4 {
  width: 90%;
  text-transform: uppercase;
  font-size: large;
  padding-left: 10px;
}

#menu .carte-menu .etiquette h4::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #99e2d0;
}

#menu .carte-menu .etiquette .carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 100%;
  padding-left: 10px;
  border-radius: 20px;
}

#menu .carte-menu .etiquette .carte h5 {
  font-size: large;
}

#menu .carte-menu .etiquette .carte span {
  float: right;
  padding-right: 10px;
  font-weight: bold;
}

#menu .carte-menu .etiquette .carte .text {
  width: 100%;
  font-size: 12px;
}

#menu .carte-menu .etiquette .carte .text h5 {
  margin: 0;
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  #menu .carte-menu .etiquette .carte .text {
    font-size: 20px;
  }
}

#menu .carte-menu .etiquette .carte .btn-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
  width: 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
}

#menu .carte-menu .etiquette .carte .btn-check .fas {
  font-size: 40px;
  color: white;
}

#menu .carte-menu .etiquette .carte:hover .btn-check {
  -webkit-animation: glissement 400ms ease-out;
          animation: glissement 400ms ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#menu .carte-menu .etiquette .carte:hover .btn-check .fas {
  -webkit-animation: rotation 0.6s;
          animation: rotation 0.6s;
}

#menu .carte-menu button {
  margin: 50px auto 80px auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  width: 300px;
  height: 60px;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 20px;
  outline: #a8a8a838;
}

#menu .carte-menu button:hover {
  opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  #menu .carte-menu button {
    width: 250px;
  }
}
/*# sourceMappingURL=menu.css.map */