@import "header";
@import "variable";
@import "button";
@import "footer";
@import "keyframes";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

html {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#menu {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  border-radius: 40px 40px 0 0;
  .img-header {
    display: static;
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
  h3 {
    width: auto;
    font-family: "Shrikhand", cursive;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 22px;
    font-style: italic;

    i.far.fa-heart {
      padding-left: 50px;
      cursor: pointer;
    }
    @media screen and (min-width: 768px) {
      i.far.fa-heart {
        padding-left: 450px;
      }
    }
    @media screen and (min-width: 1024px) {
      i.far.fa-heart {
        padding-left: 700px;
      }
    }
    @media screen and (min-width: 1440px) {
      i.far.fa-heart {
        padding-left: 1100px;
      }
    }
  }
  .carte-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: $color-menu;
    border-radius: 60px 60px 0 0;
    margin-top: -80px;
    padding: 0px 0 0 0px;
    width: 100%;

    .entree,
    .plats,
    .desserts {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
    }
    h3 {
      padding-left: 10px;
    }
    .etiquette {
      display: flex;
      align-items: center;
      justify-items: center;
      flex-wrap: wrap;
      width: 90%;
      height: auto;
      margin-bottom: 30px;
      cursor: pointer;
      // transition: 1s;
      animation: slide 2.5s;
      &.un {
        animation: slide 1s;
      }
      &.deux {
        animation: slide 2s;
      }
      &.trois {
        animation: slide 3s;
      }
      h4 {
        width: 90%;
        text-transform: uppercase;
        font-size: large;
        padding-left: 10px;
        &::after {
          content: "";
          display: block;
          width: 50px;
          height: 3px;
          background: $tertiaire;
        }
      }
      .carte {
        display: flex;
        background-color: white;
        width: 100%;
        padding-left: 10px;
        border-radius: 20px;

        h5 {
          font-size: large;
        }
        span {
          float: right;
          padding-right: 10px;
          font-weight: bold;
        }
        .text {
          width: 100%;
          font-size: 12px;

          h5 {
            margin: 0;
            margin-top: 5px;
          }
          @media screen and (min-width: 768px) {
            font-size: 20px;
          }
        }

        .btn-check {
          display: flex;
          background-color: $tertiaire;
          border-radius: 0 20px 20px 0;
          width: 0%;
          align-items: center;
          justify-content: center;
          opacity: 0;
          .fas {
            font-size: 40px;
            color: white;
          }
        }
        &:hover {
          .btn-check {
            animation: glissement 400ms ease-out;
            animation-fill-mode: both;
            .fas {
              animation: rotation 0.6s;
            }
          }
        }
      }
    }
    button {
      margin: 50px auto 80px auto;
      @include btn;
    }
  }
}
