html {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

button {
  background-color: green;
  border: none;
}

button:hover {
  cursor: pointer;
}

.container {
  height: auto;
  width: auto;
}

header {
  width: 100%;
}

header .logo figure {
  background-image: url(/images/logo/ohmyfood.png);
  height: 100px;
  width: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

section#localisation-rest {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #a8a8a838;
}

section#localisation-rest .localiter {
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  background-color: #9094977e;
}

section#localisation-rest .localiter i {
  padding: 10px 0 10px 0;
  margin: 0;
}

section#localisation-rest .explore-rest {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

section#localisation-rest .explore-rest .btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  width: 300px;
  height: 60px;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 20px;
}

section#presentation {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-bottom: 50px;
}

section#presentation h3 {
  width: 100%;
}

section#presentation .carte-pres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #a8a8a838;
  width: 20%;
  border-radius: 20px;
}

section#presentation .carte-pres :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 260px;
}

section#presentation .carte-pres i {
  margin-left: 30px;
}

section#presentation .carte-pres i:hover {
  color: #9356DC;
}

section#restaurants {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #a8a8a838;
  padding-bottom: 30px;
}

section#restaurants h2 {
  width: 100%;
  padding-bottom: 30px;
}

section#restaurants .rest-carde {
  background-color: white;
  padding-bottom: 10px;
  height: 80%;
  width: 40%;
  height: 50%;
  border-radius: 20px;
  margin-bottom: 100px;
}

section#restaurants .rest-carde .img-rest {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
}

section#restaurants .rest-carde .img-rest img {
  width: 100%;
  line-height-step: auto;
}

section#restaurants .rest-carde .text-rest {
  height: 20%;
  text-align: left;
  padding: 0 10px 0 10px;
}

section#restaurants .rest-carde :nth-child(1) {
  font-size: large;
  font-weight: bolder;
}

section#restaurants .rest-carde i {
  float: right;
}

section#restaurants .rest-carde i:hover {
  color: #9356DC;
}

footer {
  width: auto;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #363636;
  color: white;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
}
/*# sourceMappingURL=style.css.map */