$primaire:#9356DC;
$secondaire:#FF79DA;
$tertiaire:#99E2D0;
$gris:#9094977e ;
$gris-claire:#a8a8a838;
// fichier scss variable

html{
     font-family: 'Roboto', sans-serif;
     padding: 0;
     margin: 0;
}
button { 
background-color: green;
border: none;
    &:hover{
    cursor: pointer;
}
}
@mixin btn {
    background: linear-gradient($secondaire, $primaire);
    width: 300px;
    height: 60px;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 20px;
}
.container{
    height: auto;
    width: auto;

}
header{
    width: 100%;
    // background-color: #9356DC;
}
header  .logo figure{
    background-image: url(/images/logo/ohmyfood.png);
    height: 100px;
    width: 90%;
    background-position: center;
    background-repeat: no-repeat;  
}
section#localisation-rest{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: $gris-claire;
    .localiter 
    {
        padding: 0;
        margin: 0;
        text-align: center;
        width: 100%;
        background-color: $gris;
        i{
            padding:10px 0 10px 0;
            margin: 0;
        }
    }
    .explore-rest{
        width: 100%;
        height: auto;
        padding-bottom: 20px;
        .btn{
            @include btn()
        }
    }
}
section#presentation{

    width:100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 50px;
    h3{
        width: 100%;
    }
    .carte-pres{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        background-color: $gris-claire;
        width: 20%;
        border-radius: 20px;
        // &:hover{
        //     background-color: $secondaire; voir avec mentorat
        // }
        :nth-child(1){
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            background-color: $primaire;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            margin-right: 260px;
        }
        i{
            margin-left: 30px;
          &:hover{
              color:$primaire ;
            }
        }
    }
}

@mixin carte-restaurant{
    width: 40%;
    height: 50%;
    // background-color: red;
    border-radius: 20px;
    margin-bottom: 100px;
}


section#restaurants{
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $gris-claire;
    padding-bottom: 30px;

    h2{
        width: 100%;
        padding-bottom: 30px;
    }
    .rest-carde{
        background-color: white;
        padding-bottom: 10px;
        height: 80%;
        @include carte-restaurant();
        .img-rest{
            width: fit-content;
            height:auto ;
            img{
                width: 100%;
                line-height-step:auto ;


            }
        }
        .text-rest{
        height: 20%;
        text-align: left;
        padding: 0 10px 0 10px;
        // background-color: white;
        }
        :nth-child(1)
        {
            font-size:large;
            font-weight: bolder;
        }
         i{
            float:right;
            &:hover{
               color: $primaire;
            }
        }
    }

}
footer{
    width: auto;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(54, 54, 54);
    color: white;
    position: relative;
    // bottom: 0;
    margin-bottom: 0;

    padding-bottom: 0;
}