@import "variable";
@import "button";
@import "footer";
@import "header";
@import "loader";

// fichier scss variable

html {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
.principal-loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 250px;
  background-color: rgb(255, 255, 255);
  animation: chargement 3s both;
  z-index: 1;
  img {
    width: 90%;
  }
}

.container {
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
}
header {
  width: 100%;
  img {
    display: flex;
    align-content: center;
    justify-content: center;
    height: auto;
    width: 100%;
    margin: 20px auto 20px auto;
    background-repeat: no-repeat;
    @media screen and (min-width: 768px) {
      width: 70%;
    }
    @media screen and (min-width: 1024px) {
      width: 50%;
    }
  }
}
section#localisation-rest {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: $gris-claire;
  .localiter {
    padding: 0;
    margin: 0;
    text-align: center;
    height: 50px;
    width: 100%;
    background-color: $gris;
    font-size: large;
    i {
      padding: 0 10px 0 0;
      margin: 0;
    }
  }
  .explore-rest {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    h2 {
      font-size: xx-large;
    }
    button {
      cursor: pointer;
    }
    .btn {
      @include btn();
    }
  }
}
section#presentation {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  padding-bottom: 50px;
  h3 {
    width: 100%;
    margin-bottom: 30px;
  }
  .carte-pres {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $gris-claire;
    width: 90%;
    padding: 10px 10px 10px 0;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px grey;

    p {
      font-weight: bold;
      margin-left: 10px;
    }

    .chifre {
      display: flex;
      justify-content: space-between;
    }
    :nth-child(1) {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      background-color: $primaire;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      right: 13px;
      color: white;
    }
    i {
      margin-left: 40px;
      &:hover {
        color: $primaire;
      }
    }
    @media screen and (min-width: 375px) {
      width: 80%;
      p {
        margin-left: 30px;
      }
      :nth-child(1) {
        right: 13px;
      }
    }
    @media screen and (min-width: 425px) {
      width: 70%;
      :nth-child(1) {
        right: 13px;
      }
    }
    @media screen and (min-width: 768px) {
      width: 50%;
      p {
        margin-left: 50px;
      }
      .fas {
        margin-left: 50px;
      }
      :nth-child(1) {
        right: 15px;
      }
    }
    @media screen and (min-width: 1024px) {
      width: 50%;
      p {
        margin-left: 100px;
      }
      :nth-child(1) {
        right: 13px;
      }
    }
    @media screen and (min-width: 1440px) {
      width: 25%;
      margin: 0 50px 0 50px;
      p {
        margin-left: 50px;
      }
      .fas {
        margin-left: 50px;
      }
      :nth-child(1) {
        right: 13px;
      }
    }
  }
}
article#restaurants {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: $gris-claire;
  padding-bottom: 30px;

  h2 {
    width: 100%;
    padding-bottom: 30px;
  }
  .rest-carde {
    background-color: white;
    padding-bottom: 10px;
    width: 90%;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
    a {
      text-decoration: none;
      color: black;
    }
    img {
      width: 100%;
      object-fit: cover;
      height: 70%;
      border-radius: 20px 20px 0 0;
    }
    .info-rest {
      display: flex;
      width: 100%;
      .text-rest {
        width: 80%;
        text-align: left;
        padding: 0 15px 0 15px;
        p:first-of-type {
          margin-bottom: 0;
          margin-top: 10px;
          font-size: medium;
          font-weight: bold;
        }
        p:last-of-type {
          margin: 5px 0 0 0;
        }
      }

      .heart {
        width: 20%;
        display: flex;
        align-items: center;
        justify-items: stretch;
        font-size: larger;
        @media screen and (min-width: 768px) {
          padding-left: 100px;
        }
        @media screen and (min-width: 1024px) {
          padding-left: 200px;
        }
        @media screen and (min-width: 1440px) {
          padding-left: 350px;
        }

        .far {
          font-size: x-large;
          color: black;
        }
        .fas {
          display: none;
          font-size: x-large;
        }
        &:hover {
          .far {
            display: none;
          }
          .fas {
            display: inline;
            color: $primaire;
          }
        }
      }
    }

    @media screen and (min-width: 768px) {
      height: 250px;
      width: 40%;
    }
  }
}
